html{
    scroll-behavior: smooth;
}
:root{
    --pink: #fbcdcd;
    --bluish: #9caebb;
    --bluishdark: #778299;
    --darkgray: #433d4c;
    --darkest: rgb(37, 29, 41);
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--darkest);
    margin: 0px;
    min-height: 100vh;
    width: calc(100vw - (100vw - 100%));
    display: flex;
    flex-direction: column;
}


header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    min-width: 100%;
    background: rgb(37, 29, 41);
    text-align: center;
    background-image: url("./resources/japan1.png");
    background-repeat: no-repeat;
    background-position: 0% 90%;
    background-size: cover;
}
header h1{
    font-size: calc((100vw - 375px)*0.03 + 20px);
    font-weight: 800;
    text-align: center;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.contacts{
    width: 100%;
    flex-direction: column;
    display: flex;
    /*align-self: center;*/
    justify-content: start;
}
.clinks{
    /*background: transparent;
    backdrop-filter: blur(30px);*/
    border-radius: 5px;
    background-color: rgb(37, 29, 41, 0.7);
    position: relative;
    font-size: 1em;
    display: flex;
    align-items: baseline;
    height: auto;
    width: 200px;
    margin: 2px;
    padding: 5px;
}
.clinks a{
    color: #ffffff;
    text-decoration: none;
}
.clinks a:hover{
    color: var(--pink);
}
.fa-envelope{
    color: var(--pink);
    margin-right: 4px;
}
.fa-instagram{
    color: var(--pink);
    margin-right: 4px;
}
.fa-telegram{
    color: var(--pink);
    margin-right: 4px;
}

.stickyWrapper{
    position: sticky;
    background-color: var(--darkest);
    width: 100%;
    top: 0;
    left: 0;
}
.buttonRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: transparent;

}


.Controls{
    background-color: transparent;
    font-size: calc((100vw - 375px) * 0.02 + 8px);
    border: none;
    color: var(--bluish);
    width: 20%;
    height: 100%;
    padding: 10px;
    font-weight: 500;
    text-decoration: none;
}

.Controls:hover{
    cursor: pointer;
    color: var(--pink);
}

main{
    background-color: #9caebb;
    flex-grow: 1;
    width: calc(100vw - (100vw - 100%));
    text-align: center;
    color: var(--darkest);
}
main .abz{
    width: auto;
    padding: 25px;
    margin: 0;
    font-size: 2em;
    text-align: center;
    font-weight: 400;
    color: rgb(37, 29, 41);
    background: transparent;
}
main .abz .socials:link{
    color: #433d4c;
}
main .abz .socials:visited{
    color: #433d4c;
}
.card-container{
    display: flex;
    flex-direction: row;
    height: fit-content;
    max-width: calc(100vw - (100vw - 100%));
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: transparent;
}

.Image{
    height: 100%;
    max-height: 40vh;
    max-width: calc(100vw - (100vw - 90%));
    background-color: var(--darkest);
    padding: 3%;
    margin: 1%;
}
.ImageFS{
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
    padding: 50px 10px 10px 10px;
    z-index: 100;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    opacity: 1.0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    color: var(--pink);
    font-size: 0.8em;
    font-weight: 400;
    
}
.ImageFull{
    margin: 10px;
    z-index: 110;
    opacity: 1.5;
    width: auto;
    height: auto;
    max-width: calc(100vw - (100vw - 100%) - 10%);
    max-height: 80vh;
}

footer{
    position: relative;
    height: 10vh;
    width: 100%;
    margin-top: auto;
}
#p1{background-color: white;
    width: 100%; height: 9%;
}
#p2{background-color: var(--pink);
    width: 100%; height: 12%;
}
#p3{background-color: var(--bluish);
    width: 100%; height: 15%;
}
#p4{background-color: var(--bluishdark);
    width: 100%; height: 18%;
}
#p5{background-color: var(--darkgray);
    width: 100%; height: 21%;
}
#p6{background-color: var(--darkest);
    width: 100%; height: 25%;
}
