html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Handjet', cursive;
    /*font-family: 'Lobster', cursive;*/
}
@font-face {
    font-family: bladerunner;
    src: url(bladerunner/BLADRMF_.TTF);
}
:root{
    --pink: #fbcdcd;
    --bluish: #9caebb;
    --bluishdark: #778299;
    --darkgray: #433d4c;
    --darkest: #251d29;
}
.page{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow: hidden;
}

.bgvid video{
    position: absolute;
    object-fit: cover;
    object-position: 50% 90%;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
}
.bgvid{
    height: 30vh;
    position: relative;
    display: flex;
    flex-direction: row;
}
.contacts{
    flex-direction: column;
    display: flex;
    align-self: end;
}
.bgvid .clinks{
    background: transparent;
    backdrop-filter: blur(30px);
    border-radius: 5px;
    /*background-color: #433d4c;*/
    position: relative;
    font-size: 1em;
    display: flex;
    align-items: baseline;
    height: 30%;
    margin: 2px;
    padding: 5px;
}
.bgvid .clinks a{
    color: #ffffff;
    text-decoration: none;
}
.fa-envelope{
    color: var(--pink);
    margin-right: 4px;
}
.fa-instagram{
    color: var(--pink);
    margin-right: 4px;
}
.fa-telegram{
    color: var(--pink);
    margin-right: 4px;
}
@media (max-width: 750px) {
    #japanvid{display: none;}
    header{
        background-image: url("resources/japan1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 90% ;
    }
}
main h1{
    text-align: center;
    color: var(--darkest);
}
footer{
    position: relative;
    height: 10vh;
    margin-top: auto;
}
#p1{background-color: white;
    width: 100vw; height: 50%;
    text-align: center;
    font-size: 3vh;
    color: var(--bluishdark);
}
#p2{background-color: var(--pink);
    width: 100vw; height: 10%;
}
#p3{background-color: var(--bluish);
    width: 100vw; height: 10%;
}
#p4{background-color: var(--bluishdark);
    width: 100vw; height: 10%;
}
#p5{background-color: var(--darkgray);
    width: 100vw; height: 10%;
}
#p6{background-color: var(--darkest);
    width: 100vw; height: 10%;
}
#p1 a{
    color: var(--darkest);
    font-weight: bold;
}
