html{
    scroll-behavior: smooth;
}
:root{
    --pink: #fbcdcd;
    --bluish: #9caebb;
    --bluishdark: #778299;
    --darkgray: #433d4c;
    --darkest: rgb(37, 29, 41);
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--darkest);
    margin: 0px;
    min-height: 100vh;
    width: calc(100vw - (100vw - 100%));
}


header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    min-width: 100%;
    background: rgb(37, 29, 41);
    text-align: center;
    background-image: url("./resources/japan1.png");
    background-repeat: no-repeat;
    background-position: 0% 90%;
    background-size: cover;
}
header h1{
    font-size: 3em;
    font-weight: 800;
    text-align: center;
    color: white;
}
.contacts{
    width: 100%;
    flex-direction: column;
    display: flex;
    /*align-self: center;*/
    justify-content: start;
}
.clinks{
    /*background: transparent;
    backdrop-filter: blur(30px);*/
    border-radius: 5px;
    background-color: rgb(37, 29, 41, 0.7);
    position: relative;
    font-size: 1em;
    display: flex;
    align-items: baseline;
    height: auto;
    width: 200px;
    margin: 2px;
    padding: 5px;
}
.clinks a{
    color: #ffffff;
    text-decoration: none;
}
.clinks a:hover{
    color: var(--pink);
}
.fa-envelope{
    color: var(--pink);
    margin-right: 4px;
}
.fa-instagram{
    color: var(--pink);
    margin-right: 4px;
}
.fa-telegram{
    color: var(--pink);
    margin-right: 4px;
}

.stickyWrapper{
    position: sticky;
    background-color: var(--darkest);
    width: 100%;
    top: 0;
    left: 0;
}
.buttonRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: transparent;

}


.Controls{
    background-color: transparent;
    border: none;
    color: var(--bluish);
    width: 20%;
    height: 100%;
    padding: 10px;
    font-weight: 600;
    text-decoration: none;
}

.Controls:hover{
    cursor: pointer;
    color: var(--pink);
}

main{
    background-color: white;
    display: flex;
    height: 200vh;
    text-align: center;
    color: var(--darkest);
}
footer{
    position: relative;
    height: 10vh;
    margin-top: auto;
}
#p1{background-color: white;
    width: 100%; height: 5%;
}
#p2{background-color: var(--pink);
    width: 100%; height: 10%;
}
#p3{background-color: var(--bluish);
    width: 100%; height: 15%;
}
#p4{background-color: var(--bluishdark);
    width: 100%; height: 20%;
}
#p5{background-color: var(--darkgray);
    width: 100%; height: 25%;
}
#p6{background-color: var(--darkest);
    width: 100%; height: 25%;
}
